:root {
  --primary: #222;
  --secondary: #777;
  --highlight: #5c00dc;
  --text-header: #000;
  --text-main-headers: var(--primary);
  --text-links: var(--highlight);
  --text-buttons: #fff;
  --bg-main: #fff;
  --nav-buttons: rgba(92, 0, 220, 0.08);
  --nav-buttons-text: var(--secondary);
  --nav-buttons-highlight: var(--highlight);
  --icons: var(--primary);
  --buttons: var(--highlight);
  --border-color: #ccc;
}
