@import "./grid";
@import "./buttons";

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--text-header);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

input,
button,
textarea,
select {
  font: inherit;
}
