.main {
  grid-area: main;
  padding: 0 48px 24px;
  border-left: 1px solid var(--border-color);
  background: var(--bg-main);
  position: relative;
  z-index: 100;
  .main__heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
    padding-top: 24px;
    border-top: 1px solid var(--border-color);
    .main__heading-icon {
      width: 35px;
      height: 35px;
      background: url(/img/person-portal.svg) no-repeat center;
    }
    h3 {
      padding-left: 16px;
    }
  }
  .main__steps {
    .main__step {
      margin-bottom: 24px;
    }
    .main__steps-label {
      color: var(--primary);
      margin-bottom: 8px;
      span {
        font-weight: 600;
      }
    }
  }
}
