@media only screen and (max-width: 900px) {
  .header {
    .header__event {
      padding-top: 24px;
      .header__btn-edit {
        right: 16px;
        top: 12px;
      }
    }
    .header__instructions p {
      font-size: 14px;
    }
  }
  h1 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 1.25rem;
  }
  h2,
  h3 {
    font-size: 1rem;
  }
  .grid-container {
    grid-template-rows: 300px 1fr;
  }
}

@media only screen and (max-width: 780px) {
  .header .header__event {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 724px) {
  .grid-container {
    grid-template-columns: 0px 1fr;
    transition: all 0.5s;
  }
  .header,
  .main {
    padding: 40px 16px;
  }
  .header__btn-nav {
    display: block;
  }
  .side-nav {
    left: -280px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1rem;
  }
  .header__event-info {
    h1 {
      margin: 8px 0;
    }
    span {
      font-size: 13px;
    }
  }
  .grid-container {
    grid-template-rows: 280px 1fr;
    grid-template-columns: 0px 1fr;
  }
  .main .main__steps {
    .main__steps-build,
    .main__steps-design {
      grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
    }
    .main__steps-design {
      grid-auto-rows: 152px;
    }
    .tile {
      padding: 24px;
    }
  }
}
